<div class="all-entries section">
    <div class="row">
        <div class="small-12 columns">
            <h3>Total Entries - {{allEntries.length}}</h3>
            <table class="small-12">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Gender</th>
                        <th>City</th>
                        <th>twitter</th>
                        <th>Wishlist</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each allEntries}}
                        <tr data-id="{{_id}}">
                            <td>{{name}}</td>
                            <td>
                                {{email}} <br>
                                {{#if emailVerified}}
                                    (verified)
                                {{/if}}
                            </td>
                            <td>{{gender}}</td>
                            <td>{{city}}</td>
                            <td>{{twitter}}</td>
                            <td>
                                {{#each wishlist}}
                                    {{this}} <br>
                                {{/each}}
                            </td>
                            <td>
                            <a href="/admin/chimney/entry/{{_id}}/edit">Edit</a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div> <!-- /.all-entries -->